[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/boost"]
	path = ThirdParty/boost
	url = https://github.com/boostorg/boost.git
